In [ ]:
#dictionary
-indexed
-multiple and duplicate value
- no duplicate key
- ordered
- mutable

In [ ]:
# a ={<key>: <value>,<key>:<value>,...}

In [2]:
a = {"A":"Apple","B":"Ball","c":"Cat"}
print(a["A"])

Apple

In [3]:
a = {"A":"Apple","B":"Ball","c":"Cat"}
print(a["A"])
print(type(a))

Apple
<class 'dict'>

In [6]:
a = {"A":"Apple","B":"Ball","c":"Cat","A":"apple"}
a

{'A': 'apple', 'B': 'Ball', 'c': 'Cat'}

In [8]:
# a =dict()
d ={}
d["a"] = "Apple"
d["b"] = "Ball"
d["c"] = "cat"
d["a"] = "apple"
d

{'a': 'apple', 'b': 'Ball', 'c': 'cat'}

In [10]:
info = {}
n = int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    phone = input("enter phone")
    info[name] = phone
    
info

enter n=2
enter name=susmita
enter phone8787
enter name=ss
enter phone9898

{'susmita': '8787', 'ss': '9898'}

In [11]:
for i in info:
    print(i)

susmita
ss

In [13]:
for i in info.values():
    print(i)

8787
9898

In [14]:
for i in info.items():
    print(i)

('susmita', '8787')
('ss', '9898')

In [15]:
l = []
for i in info.items():
    l.append(i)
l

[('susmita', '8787'), ('ss', '9898')]

In [16]:
dict(l)

{'susmita': '8787', 'ss': '9898'}

In [18]:
a =(('susmita', '8787'),('ss', '9898'))
dict(a)

{'susmita': '8787', 'ss': '9898'}

In [19]:
a =[['susmita', '8787'],['ss', '9898']]
dict(a)

{'susmita': '8787', 'ss': '9898'}

In [20]:
a ={'susmita': '8787', 'ss': '9898'}
b = {"hh":"8979"}
a.update(b)
a

{'susmita': '8787', 'ss': '9898', 'hh': '8979'}

In [22]:
# del pop
a ={'susmita': '8787', 'ss': '9898', 'hh': '8979'}
del a['ss']
a

{'susmita': '8787', 'hh': '8979'}

In [26]:
a = {1:2,4:2,5:2}
len(a)

3

In [32]:
a ={'susmita': '8787', 'ss': '9898'}
b = a.pop("ss")
print(a)
print(b)

{'susmita': '8787'}
9898

In [33]:
#list inside dict

a ={'susmita': ['8787'],
    'ss': ['9898'], 
    'hh': ['8979']}
a

{'susmita': ['8787'], 'ss': ['9898'], 'hh': ['8979']}

In [36]:
info = {}
n = int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    ntc_phone = input("enter ntc_phone")
    ncell_phone = input("enter ncell_phone")
    info[name] = [ ntc_phone, ncell_phone ]
    
info

enter n=1
enter name=ss
enter ntc_phone9898
enter ncell_phone9191

{'ss': ['9898', '9191']}

In [40]:
name = input("enter name=")
ntc_phone = input("enter ntc_phone")
ncell_phone = input("enter ncell_phone")
info[name] = [ ntc_phone, ncell_phone ]

enter name=ytyt
enter ntc_phone09
enter ncell_phone98

In [41]:
info

{'ss': ['989', '8787'], 'ytyt': ['09', '98']}

In [42]:
info["ss"]

['989', '8787']

In [43]:
info["ss"].append(2323)
info

{'ss': ['989', '8787', 2323], 'ytyt': ['09', '98']}

In [45]:
info

{'ss': ['989', '8787', 2323], 'ytyt': ['09', '98']}

In [47]:
info["ss"][0] =4444
info

{'ss': [4444, '8787', 2323], 'ytyt': ['09', '98']}

In [2]:
info = {}
n = int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    phone = input("enter phone")
    info[name] = phone
    
    
info

enter n=1
enter name=susmita
enter phone9898

{'susmita': '9898'}

In [1]:
#dict inside dict

d = {1:{"name":"ram","age":5,"address":"kathmandu"},
    2:{"name":"shyam","age":10,"address":"bhaktapur",
    3:{"name":"hari","age":15,"address":"Lalitpur"}}}
d

{1: {'name': 'ram', 'age': 5, 'address': 'kathmandu'},
 2: {'name': 'shyam',
  'age': 10,
  'address': 'bhaktapur',
  3: {'name': 'hari', 'age': 15, 'address': 'Lalitpur'}}}

In [2]:
d[4] = {"name":"shrayan","age":8,"address":"bhaktapur"}
d

{1: {'name': 'ram', 'age': 5, 'address': 'kathmandu'},
 2: {'name': 'shyam',
  'age': 10,
  'address': 'bhaktapur',
  3: {'name': 'hari', 'age': 15, 'address': 'Lalitpur'}},
 4: {'name': 'shrayan', 'age': 8, 'address': 'bhaktapur'}}

In [3]:
del d[4] 
d

{1: {'name': 'ram', 'age': 5, 'address': 'kathmandu'},
 2: {'name': 'shyam',
  'age': 10,
  'address': 'bhaktapur',
  3: {'name': 'hari', 'age': 15, 'address': 'Lalitpur'}}}

In [9]:
d = {1:{"name":"ram","age":5,"address":"kathmandu"},
    2:{"name":"shyam","age":10,"address":"bhaktapur"},
    3:{"name":"hari","age":15,"address":"Lalitpur"}}


d

{1: {'name': 'ram', 'age': 5, 'address': 'kathmandu'},
 2: {'name': 'shyam', 'age': 10, 'address': 'bhaktapur'},
 3: {'name': 'hari', 'age': 15, 'address': 'Lalitpur'}}

In [10]:
d[1]["phone"] = 9898
d[2]["phone"] = 7878
d[3]["phone"] = 9595
d

{1: {'name': 'ram', 'age': 5, 'address': 'kathmandu', 'phone': 9898},
 2: {'name': 'shyam', 'age': 10, 'address': 'bhaktapur', 'phone': 7878},
 3: {'name': 'hari', 'age': 15, 'address': 'Lalitpur', 'phone': 9595}}

In [3]:
d = {}
n = int(input("enter n ="))
for i in range(1,n+1):
    name = input("enter name=")
    age = int(input("enter age="))
    add= input("enter add=")
    phone= int(input("enter phone="))
    d[i] = {"name":name,"age":age,"address":add}
        
print(d)

enter n =1
enter name=ram
enter age=10
enter add=kathmandu
enter phone=9898
{1: {'name': 'ram', 'age': 10, 'address': 'kathmandu'}}

In [ ]:
# wap to create following type and perform crud
#d = {"name":["ram","hari","sita"],
    "age":[23,43,45],
    "address:["kathmandu","bara","laliptur"]}
     
#a = [{'name': 'ram', 'age': 5, 'address': 'kathmandu'},
      {'name': 'ram', 'age': 5, 'address': 'kathmandu}]