In [ ]:
#set
- no indexing
-unordered
-mutable
-no duplicate data but multiples value

In [1]:
s = {"apple","ball","cat","dog"}
print(type(s))

<class 'set'>

In [2]:
s = {}
type(s)

dict

In [3]:
#unordered
s = {"apple","ball","cat","dog"}          
s[0]

TypeError: 'set' object is not subscriptable

In [4]:
s = {"apple","ball","cat","dog"}  
s

{'apple', 'ball', 'cat', 'dog'}

In [6]:
s = {1,4,2,3}
s

{1, 2, 3, 4}

In [7]:
#no duplicate value
s = {"apple","ball","cat","dog","apple"}  
s

{'apple', 'ball', 'cat', 'dog'}

In [8]:
s = {1,3,4,3,4,6,5}
s

{1, 3, 4, 5, 6}

In [9]:
s = [1,3,4,3,4,6,5]
s = set(s)
s = list(s)
s

[1, 3, 4, 5, 6]

In [11]:
s = set()
n = int(input("enter n="))
for i in range(n):
    x = input("enter x=")
    s.add(x)
print(s)

enter n=3
enter x=apple
enter x=ball
enter x=cat
{'apple', 'cat', 'ball'}

In [13]:
s = {"apple","ball","cat"}
s.remove("apple")
s

{'ball', 'cat'}

In [14]:
a = {"ram","shyam","hari","sita","nabin"}    #no concat
b = {"nabin","tara","sabin","ram","nabin"}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [19]:
a = {"ram","shyam","hari","sita","nabin"}    
b = {"nabin","tara","sabin","ram","nabin"}
a.update(b)
a

{'hari', 'nabin', 'ram', 'sabin', 'shyam', 'sita', 'tara'}

In [21]:
a = {"ram","shyam","hari","sita","nabin"}    
b = {"nabin","tara","sabin","ram","nabin"}
a.union(b)

{'hari', 'nabin', 'ram', 'sabin', 'shyam', 'sita', 'tara'}

In [22]:
a = {"ram","shyam","hari","sita","nabin"}    
b = {"nabin","tara","sabin","ram","nabin"}
a.intersection(b)

{'nabin', 'ram'}

In [24]:
a = {"ram","shyam","hari","sita","nabin"}   
b = {"nabin","tara","sabin","ram","nabin"}
x = a.intersection(b)
len(x)

2

In [25]:
a.difference(b)

{'hari', 'shyam', 'sita'}

In [26]:
b.difference(a)

{'sabin', 'tara'}

In [27]:
a.isdisjoint(b)

False

In [31]:
a ={1,2,3,4}
b ={1,2,3,4,5,6,7}
b.issubset(a)

False

In [30]:
a ={1,2,3,4}
b ={1,2,3,4,5,6,7}
b.issuperset(a)

True

In [37]:
u ={'gates', 'hari', 'jobs', 'nabin', 'ram', 'sabin', 'shyam', 'sita', 'tara',"mike"}

apple  = {"ram","shyam","hari","sita","nabin","jobs"}   
ms = {"nabin","tara","sabin","ram","nabin","gates"}

un = apple.union(ms)

u.difference(un)

{'mike'}