In [ ]:
#basic python collection
1. list
2.Tuple
3.Dictionary
4.set

In [ ]:
##List
-Indexed
-Multiple and duplicate data
-ordered
-mutable

In [3]:
a = ["Apple","ball", "cat" , "dog"]
b = [1,2,3,4,5,6,7,8,9,10] 
print(a)
print(b)
print(type(a))  
print(type(b))

['Apple', 'ball', 'cat', 'dog']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
<class 'list'>

In [4]:
print(a[0])

Apple

In [5]:
print(a[0:4])

['Apple', 'ball', 'cat', 'dog']

In [7]:
print(a[0:4:2])

['Apple', 'cat']

In [8]:
a = ["Apple","ball", "cat" , "dog" ,"Apple"]
a

['Apple', 'ball', 'cat', 'dog', 'Apple']

In [9]:
#ordered (concat)
a = ["Apple","ball", "cat" , "dog"]
b = ["fish" , "dog"]
c = a+b
print(c)

['Apple', 'ball', 'cat', 'dog', 'fish', 'dog']

In [13]:
a = ["Apple","ball", "cat" , "dog" ,"Apple"]
for i in a:
    print(i)

Apple
ball
cat
dog
Apple

In [ ]:
 #function
 1. append()
  2.insert()
    3.extend()

In [14]:
a = []
# a=list()
a.append("apple")
print(a)

['apple']

In [16]:
a = []
# a=list()
a.append("apple")
a.append("ball")
a

['apple', 'ball']

In [4]:
data =[]

n = int(input("enter n="))
for i in range(n):
    x = int(input("enter x="))
    data.append(x)
    
print( data)

enter n=2
enter x=1
enter x=4
[1, 4]

In [5]:
print("the sum of value = ",sum(data))
print("the max no of list = ",max(data))
print("the min value of list = ",min(data))
print("the avg of the values inside list ",sum(data)/n)

the sum of value =  5
the max no of list =  4
the min value of list =  1
the avg of the values inside list  2.5

In [6]:

data.sort()
print(data)

[1, 4]

In [7]:
data.reverse()
data

[4, 1]

In [4]:
a = ["z","b","c","d"]
a.sort()
a

['b', 'c', 'd', 'z']

In [5]:
a = ["z","b","c","d","1d"]
a.sort()
a

['1d', 'b', 'c', 'd', 'z']

In [1]:
#insert()
a = ["zebra","apple","banana","dog","fish"]
a.insert(1,"apple")
a

['zebra', 'apple', 'apple', 'banana', 'dog', 'fish']

In [1]:
#extend

a = [1,2,3,4,5]
b = ["apple","banana","fish"]
b.extend(a)
b

['apple', 'banana', 'fish', 1, 2, 3, 4, 5]

In [8]:
a = ["zebra","apple","banana","dog","fish"]
a[0] = "APPLE"
a

['APPLE', 'apple', 'banana', 'dog', 'fish']

In [2]:
a = ["zebra","apple","banana","dog","fish"]
a[0:2] = ["Banana","ZEBRA"]
a

['Banana', 'ZEBRA', 'banana', 'dog', 'fish']

In [1]:
# del remove() pop()
a = ["zebra","apple","banana","dog","fish"]
del a[0]
print(a)

['apple', 'banana', 'dog', 'fish']

In [2]:
a = ["zebra","apple","banana","dog","fish"]
del a[0:3]
print(a)

['dog', 'fish']

In [3]:
a = ["zebra","apple","banana","dog","fish"]
a.index("apple")

1

In [2]:
#remove
a = ["zebra","apple","banana","dog","fish"]
a.remove("dog")
print(a)

['zebra', 'apple', 'banana', 'fish']

In [3]:
#pop
a = ["zebra","apple","banana","dog","fish"]
a.pop()
a

['zebra', 'apple', 'banana', 'dog']

In [4]:
a = ["zebra","apple","banana","dog","fish"]
b = a.pop(0)
print(a)
print(b)

['apple', 'banana', 'dog', 'fish']
zebra

In [5]:
b = []
a = ["zebra","apple","banana","dog","fish","apple"]
for i in a:
    if i !="apple":
        b.append(i)
print(b)

['zebra', 'banana', 'dog', 'fish']

In [7]:
b = []
a = ["zebra","apple","banana","dog","fish","apple"]
for i in range(len(a)):
    if a[i]== "apple":
        print(i)

1
5

In [8]:
a = ["zebra","apple","banana","dog","fish","apple"]
if "apple" in a:
    print ("yes", a.count("apple"))
    
else:
    print("no")

yes 2

In [11]:
 # list inside list   
a = [[1,2,3,],[4,5,6],[7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [12]:
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
print(a[0])

[1, 2, 3]

In [15]:
print(a[0][0])

1

In [27]:
# wap to create a list inside list 
data = []
n = int(input("enter n ="))
for i in range(n):
    name = (input("enter name="))
    age =int(input("enter age="))
    add = (input("enter add="))
    info= [name,age,add]
    data.append(info)


print(data)

enter n =2
enter name=ram
enter age=3
enter add=ktm
enter name=hari
enter age=2
enter add=bhaktapur
[['ram', 3, 'ktm'], ['hari', 2, 'bhaktapur']]

In [28]:
data.append(["ram",3,"kathmandu"])
data

[['ram', 3, 'ktm'], ['hari', 2, 'bhaktapur'], ['ram', 3, 'kathmandu']]

In [31]:
name =input("enter name=")
for i in data:
    if name in i:
        print(i)

enter name=ram
['ram', 3, 'ktm']
['ram', 3, 'kathmandu']

In [34]:
name =input("enter name=").lower()
for i in data:
    if name in i[0].lower():
        print(i)

enter name=ram
['ram', 3, 'ktm']
['ram', 3, 'kathmandu']

In [37]:
a = [["Ram",20,"kathmandu"], ["Hari",10,"bhaktapur"]]
a[0][0] = "Ramm"
a

[['Ramm', 20, 'kathmandu'], ['Hari', 10, 'bhaktapur']]

In [38]:
a = [["Ram",20,"kathmandu"], ["Hari",10,"bhaktapur"]]
del a[0]
a

[['Hari', 10, 'bhaktapur']]

In [39]:
a = [["Ram",20,"kathmandu"], ["Hari",10,"bhaktapur"]]
a[0] = ["Ramm",10,"kkk"]
a

[['Ramm', 10, 'kkk'], ['Hari', 10, 'bhaktapur']]

In [ ]:
# wap to create a matrix with given row and column    (using nested loop) 
[[1,2,3,],
 [4,5,6],
[7,8,9]]

In [59]:
data = [[1,2,3,],
        [4,5,6],
        [7,8,9]]
count = 0
for i in range (len(data)):
    print(data[i])   
    for j in range(len(data[i])):
        print(data[j])
        a =data[i][j]
print(a)

[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[4, 5, 6]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[7, 8, 9]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
9