In [ ]:
#tuple
- indexed
- ordered
- duplicate and multiple values
- imutable

In [1]:
a = (1,2,3)
b =("apple","ball","cat","dog")
print(type(a))
print(type(b))
print(a)
print(b)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3)
('apple', 'ball', 'cat', 'dog')

In [2]:
b =("apple","ball","cat","dog")
print(b[0])

apple

In [3]:
b =("apple","ball","cat","dog")
print(b[0:2])

('apple', 'ball')

In [4]:
b =("apple","ball","cat","dog")
a =(1,2,3,4,5)
c =a+b
print(c)

(1, 2, 3, 4, 5, 'apple', 'ball', 'cat', 'dog')

In [5]:
b =("apple","ball","cat","dog","apple")
b

('apple', 'ball', 'cat', 'dog', 'apple')

In [6]:
a =(1,2,3)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3)

In [7]:
a =(1,)
print(type(a))
print(a)

<class 'tuple'>
(1,)

In [8]:
a =(1)
print(type(a))
print(a)

<class 'int'>
1

In [13]:
b = ("apple",)
print(type(b))

<class 'tuple'>

In [ ]:
#no append() insert() extend()
# no update
# no delete or remove or pop
# no sort()

In [14]:
a = ()
b = ("apple",)
c =("ball",)
d =a+b+c
d

('apple', 'ball')

In [17]:
a =()
n =int(input("enter n="))
for i in range(n):
    x = int(input("enter x="))
    a = a+(x,)
print(a)

enter n=2
enter x=1
enter x=1
(1, 1)

In [20]:
a=("apple","cat","dog")
a = list(a)   
a

['apple', 'cat', 'dog']

In [22]:
a=["apple","cat","dog"]
a = tuple(a)  
a

('apple', 'cat', 'dog')

In [23]:
a=("apple","cat","dog")
a = list(a)   
del a[0]
a = tuple(a)
a

('cat', 'dog')

In [24]:
# tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
a[0]

(1, 2, 3)

In [1]:
a =()
n =int(input("enter n="))
for i in range(n):
    name = input("enter name=")
    age = int(input("enter age="))
    add = input("enter add=")
    a = a+((name,age,add),)
    
print(a)

enter n=1
enter name=ss
enter age=10
enter add=ww
(('ss', 10, 'ww'),)

In [3]:
a = (1,10,3,4,5)
print(sorted(a))
a

[1, 3, 4, 5, 10]

(1, 10, 3, 4, 5)

In [7]:
a =(("ss",11,"ktm"),("aa",1,"ktm"))
list(a)

[('ss', 11, 'ktm'), ('aa', 1, 'ktm')]

In [8]:
a =(("ss",11,"ktm"),("aa",1,"ktm"))
b = list(a)
b

[('ss', 11, 'ktm'), ('aa', 1, 'ktm')]

In [9]:
b.append(("hh",22,"kk"))
b

[('ss', 11, 'ktm'), ('aa', 1, 'ktm'), ('hh', 22, 'kk')]

In [10]:
b[0] =("hh",22,"kk")
b

[('hh', 22, 'kk'), ('aa', 1, 'ktm'), ('hh', 22, 'kk')]

In [12]:
del b[0]
b

[('hh', 22, 'kk')]

In [13]:
a = [("hh",22,"kk"),("aa",1,"ktm")]
a[0][0]

'hh'

In [14]:
a = [("hh",22,"kk"),("aa",1,"ktm")]
a[0]

('hh', 22, 'kk')

In [15]:
a = (["hh",22,"kk"],["aa",1,"ktm"])
a[0].append(98989)
a

(['hh', 22, 'kk', 98989], ['aa', 1, 'ktm'])

In [16]:
a = (["hh",22,"kk"],["aa",1,"ktm"])
a[0][0] ="DD"
a

(['DD', 22, 'kk'], ['aa', 1, 'ktm'])